# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Data files
*.csv
*.txt

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Matlab autosave files and data files
*.asv
*.mat

# Zip files
*.zip

# Figures
*.pdf
*.fig
*.ai
*.eps

# Movies
*.mp4

# Documents
.docx

# R-history files
.Rhistory
*.RData

# =========================
# Operating System Files
# =========================

# Folders with results and figures
Figures and tables/*
results/*